.main {
  margin: 10px;
}

.listclub {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  &__li {
    padding: 5px;
    border: solid 2px lightcoral;
    border-radius: 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.button {
  width: 150px;
  margin: 10px 0;
  background-color: lightcoral;
  border: solid 2px lightcoral;
  border-radius: 5px;
}
